{% extends 'layout.html' %}
<!DOCTYPE html>
<html>
<head>
		{% block title %}<title>Smart Farming</title>{% endblock %}
</head>
<body>
	{% block body %}
	<div class="main-div">
		<p>Smart Farming is an internet based applcation for solution on farming problems</p>
		<p>Interactive Vizualization.</p>
		<p>You can find solution regarding Fertilizers</p>
		<p>Based on your crop choice which fertilizer to use.</p>
		<p>Crop prediction based on your input value</p>
	</div>
	 
	{% endblock %}

</body>
</html>